<!DOCTYPE HTML>

<footer>
  <div class="container mb-9">

    <hr>
    
    <div class="row">
      <div class="col-12 text-center"></div>
      <div class="column" style="display:flex;align-items:center;">
        <div class="card-footer">
          <h3> Partner Universities </h3>
        </div>
      </div>
    </div>
    
    <div class="row text-center justify-content-center">
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.maastrichtuniversity.nl/">
          <img src="/images/Institutions/UM_logo.png" alt="University 1" class="img-fluid" style="max-height:100px;">
        </a>
      </div>
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.rwth-aachen.de/">
          <img src="/images/Institutions/RWTH_logo.png" alt="University 2" class="img-fluid" style="max-height:100px;">
        </a>
      </div>
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.uliege.be/">
          <img src="/images/Institutions/UL_logo.png" alt="University 3" class="img-fluid" style="max-height:100px;">
        </a>
      </div>
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.kuleuven.be/english/kuleuven/">
          <img src="/images/Institutions/KUL_logo.png" alt="University 4" class="img-fluid" style="max-height:100px;">
        </a>
      </div>
    </div>
  </div>
</footer>