<!DOCTYPE HTML>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 sticky-top nav-fill">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">Home</a>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://bytemal.github.io/bytemal-2025">Current edition</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/previous-editions">Previous editions</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>

    </ul>
  </div>

</nav>

